 class="diffoscope">
<div class="difference">
  <div class="diffheader">
  <div class="diffcontrol">⊟</div>
  <div><span class="diffsize">182 B</span></div>
  <div id="top"><span class="source">example.sql</span>
    <a class="anchor" href="#top">¶</a>
  </div>
  </div>
<table class="diff">
<colgroup><col class="colines"/><col class="coldiff"/>
<col class="colines"/><col class="coldiff"/></colgroup>
<tr style="display:none;"><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr class="diffhunk"><td colspan="2">Offset 1, 2 lines modified</td><td colspan="2">Offset 1, 2 lines modified</td></tr>
<tr class="diffunmodified"><td class="diffline">1 </td><td class="diffpresent">--<span class="dp">·</span>unrelated<span class="dp">·</span>comment</td><td class="diffline">1 </td><td class="diffpresent">--<span class="dp">·</span>unrelated<span class="dp">·</span>comment</td></tr>
<tr class="diffchanged"><td class="diffline">2 </td><td class="diffpresent">--<span class="dp">·</span>comment<span class="dp">·</span>containing<span class="dp">·</span>a<span class="dp">·</span>timestamp:<span class="dp">·</span>2024-02-12T02:0<del>7</del>:00.000Z</td><td class="diffline">2 </td><td class="diffpresent">--<span class="dp">·</span>comment<span class="dp">·</span>containing<span class="dp">·</span>a<span class="dp">·</span>timestamp:<span class="dp">·</span>2024-02-12T02:0<ins>8</ins>:00.000Z</td></tr>
</table></div>
